body{
    font-family: "Roboto", serif;
}
/* nav related style Start */
.text_primary{
    color: #FD6E0A;
}
.btn_primary{
    border-radius: 5px;
    background: #FD6E0A;
    border: 0;
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
    padding: 18px 40px;
    cursor: pointer;
    margin-top: 24px;
    margin-right: 30px;
}
.section_title{
    color:#181818;
    font-size: 35px;
    font-weight: 700;
}
.section_description{
    color:#181818;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 200px;
}
.nav_title{
    color: #181818;
    font-size: 40px;
    font-weight: 800;
}
nav ul{
    display: flex;
    align-items: center;
}
nav ul li{
    list-style: none;
    margin-right: 40px;
}
nav ul li a{
    text-decoration: none;
    color: #474747;
}
/* nav related style End */
/* Header related style start */

.header{
    background: #FFF8F3;
    background-image: url(../images/header_bg.png);
    background-repeat: no-repeat;
    background-position: right bottom;
}
.banner{
    padding: 30px 30px 0px 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.banner_content{
    max-width: 500px;
}
.banner .profile_picture{
    width: 400px;
}
.banner_greeting{
    font-size: 45px;
    color: #474747;
    margin-bottom: 0px;
}
.banner_title{
    font-size: 85px;
    font-weight: 700;
    margin-top: 10px;
}
.banner_description{
    margin-top: -40px;
    line-height: 20px;

}
/* Header related style end */

/* main section styles */
main{
    max-width: 1140px;
    margin:0 auto;
}
main section{
    margin-top:130px ;
}
/* about section styles Start*/
.about{
    padding: 130px;
    border-radius: 10px;
    background: #FFF8F3;
    margin: 130px 0;
}
.about_info_container{
    display: flex;
    justify-content: space-around;
}
.about_info{
    text-align: center;
    line-height:6px;
}
/* about section styles End */

#what_i_do_description{
    padding: 30px 150px;
}

.skills_container{
    display: flex;
    gap: 24px;
}
.skill{
    padding: 30px;
    border-radius: 5px;
background: #FFF;
box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
}
.skill_description{
    color: #757575;
}

/* resume section style */
.resume_column_title{
    color:#474747;
    font-size: 25px;
    font-weight: 700;
}
.resume_container{
    display: flex;
    gap: 50px;
}
.resume_item_title{
    color:#474747;
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 10px;

}
.resume_item_description,
.resume_item_institute{
    color: #757575;
}

.resume_container hr{
    margin: 30px;
}
.download_cv{
    text-align: center;
    margin-top: 50px;
}

footer{
    display: flex;
    gap: 100px;
    background: #FFF8f3;
    padding: 130px 200px;
    margin-top: 100px;
}

.footer_column{
    width: 50%;
}
.contact input[type="text"], .contact input[type="email"]
,textarea{
    display: block;
    margin-top: 25px;
    padding: 18px 35px;
    color: #757575;
    border: none;
    border-radius: 5px;
    background: #FFF;
    width: 100%;
}
.social_links a{
    margin-right: 24px;
}